{% extends 'base.html' %}

{% block title %}Edit Supplier{% endblock %}

{% block content %}

<div class="container mt-4">

    <h2>Edit Supplier</h2>

    <form method="POST">

        <div class="mb-3">
            <label>Supplier Name</label>
            <input
                type="text"
                name="supplier_name"
                class="form-control"
                value="{{ supplier[1] }}"
                required>
        </div>

        <div class="mb-3">
            <label>Email</label>
            <input
                type="email"
                name="email"
                class="form-control"
                value="{{ supplier[2] }}">
        </div>

        <div class="mb-3">
            <label>Phone</label>
            <input
                type="text"
                name="phone"
                class="form-control"
                value="{{ supplier[3] }}">
        </div>

        <div class="mb-3">
            <label>Address</label>
            <textarea
                name="address"
                class="form-control">{{ supplier[4] }}</textarea>
        </div>

        <button class="btn btn-success">
            Update Supplier
        </button>

        <a href="/admin/suppliers" class="btn btn-secondary">
            Back
        </a>

    </form>

</div>

{% endblock %}